body{
  margin-top: 1%;
  margin-bottom: 2%;
  margin-right: 8%;
  margin-left: 5%;
  padding-left: 2%;
  background-image: url(../images/bg2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 700px;
  width: 75%;


}
.wrapper{
  background-color: orange;
  padding-left: 10%;
  margin-left: 15%;
  margin-top: 20%;
  width: 75%;
}

.heading{
  margin-top: 5%;
  margin-bottom: 2%;
  margin-right: 5%;
  margin-left: 5%;
}

header{
    padding-top: 3%;
    text-align: center;
    background-color: orange;
    width: 85%;
    font-family: 'Century Gothic', sans-serif;
    font-size: 50px;
    font-weight: inherit;
    color: black;
}

nav{

    text-align: center;
    background-color: orange;
    width: 80%;

}

.wrapper{
  background-color: orange;
}
.container{
  position: relative;
  width: 85%;
  background-color: orange;
  display: block;
  margin-top: 5%;
  margin-bottom: 2%;
  margin-right: 5%;
  margin-left: 5%;
  padding-bottom: 3%;
  height: 150px;
}

#start{
  font-family: Courier, Monaco, monospace;
  text-align: center;
  width: 23%;
  height: 10%;
  font-size: 20px;
  margin-left: 32%;
  margin-bottom: 10%;
}

#quiz{
  font-family: Courier, Monaco, monospace;
  font-size: 20px;
  padding-bottom: 14%;
}
